.form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form__svg {
  margin-top: -35px;
}

.form__input-div {
  width: 90%;
  display: flex;
  align-items: center;
}

.form__button {
  background-color: #75a902;
  padding: 1.34rem 3.42rem;
  border: none;
  border-radius: 3px;
  transition: all .2s;
  margin: 2rem 0;
}

.form__button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.form__button:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
}

.form__button:active {
  transform: translateY(-1px);
}

.form__button:focus {
  outline: none;
}
